.containerOTP {
  text-align: center;
  margin: 20px 16px 0;
}

.containerOTP svg {
  font-size: 120px;
  color: #fff;
  background-color: #ed6436;
  border-radius: 100%;
  border: solid 20px #ed6436;
}

.containerOTP p {
  color: #333;
  margin-top: 8px;
  font-weight: 600;
  font-size: 24px;
}
